.menu {
  display: flex;
  flex-direction: column;
  height: 10vmin;
  padding: 5vmin;
  min-width: 5vmin;
}

.vehicleOptionsDisabled {
  color: #C7C8CB;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.value {
  display: flex;
  flex-direction: row;
}

.heading {
  padding: 2vmin
}
